html, body, #root, #root>div {
    height: 100%
}

.content {
    margin-top: 200px;
    .image {
        width: 100px;
        height: 100px;
        opacity: 0.5;
    }
    .selected {
        opacity: 1;
        border: 3px solid yellow;
        border-radius: 50%;
        box-sizing: border-box;
    }
}